{% extends 'base.html.twig' %}

{% block title %}Delete Event{% endblock %}

{% block content %}
    <div class="app-user-profile">
        <h3>Cancel event</h3>
        <div class="app-profile">
            <p>Name of the event : </p>
            <p>Date of the event : </p>
            <p>Campus : </p>
            <p>Location : </p>
        </div>
        <div class="app-profile extra-long">
            <p>{{ event.name }}</p>
            <p>{{ event.date|date('d-m-Y') }}</p>
            <p>{{ event.campus }}</p>
            <p>{{ event.location }} : {{ location.street }}, {{ location.city }}</p>
        </div>
    </div>
    <div id="app-cancel-reason" class="app-user-profile">
        {{ form_start(form) }}
        <div class="app-profile">
            {{ form_label(form.description) }}
        </div>
        <div class="app-profile extra-long">
            {{ form_widget(form.description, {'value' : ''}) }}
        </div>
    </div>
    <div class="app-user-profile">
        <button class="app-event-bt" type="submit">Submit</button>
        <a href="{{ path ('home') }}">
            <button class="app-event-bt" type="button">Back</button>
        </a>
        {{ form_end(form) }}
    </div>
{% endblock %}