{% extends 'base.html.twig' %}

{% block title %}Cancel Event{% endblock %}

{% block content %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <p id="app-flash-message"></p>

    <div class="app-user-profile">
        <h3>Cancel event</h3>
        <div class="app-profile">
            <p>Name of the event : </p>
            <p>Date of the event : </p>
            <p>Campus : </p>
            <p>Location : </p>
        </div>
        <div class="app-profile extra-long">
            <p id="cancel-reason-event">{{ event.name }}</p>
            <p>{{ event.date|date('d-m-Y') }}</p>
            <p>{{ event.campus }}</p>
            <p>{{ event.location }} : {{ location.street }} - {{ city.code }} - {{ location.city }}</p>
        </div>
    </div>
    <div id="app-cancel-reason" class="app-user-profile">
        <div class="app-profile">
            <label for="cancel-reason">Reason for canceling:</label>
        </div>
        <div class="app-profile extra-long">
            <textarea id="cancel-reason"></textarea>
        </div>
    </div>
    <div class="app-user-profile">
        <button class="app-event-bt" id="app-cancel-event" type="button">Submit</button>
        <a href="{{ path ('event_details', {'event': event.name}) }}">
            <button class="app-event-bt" type="button">Back</button>
        </a>
    </div>

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('app_cancel_event') }}
    {% endblock %}

{% endblock %}