{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block content %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <div class="app-user-profile">
        <h3>Create New Event</h3>
    </div>
    <div class="wrapper">
        <div class="app-event">
            {{ form_start(form, { 'attr' : { 'class': 'app-event' } }) }}
            <div class='app-event-s1'>
                {{ form_label(form.name) }} {{ form_widget(form.name) }}
                {{ form_label(form.date) }} {{ form_widget(form.date) }}
                {{ form_label(form.limitDate) }} {{ form_widget(form.limitDate) }}
                {{ form_label(form.spots) }} {{ form_widget(form.spots) }}
                {{ form_label(form.duration) }} {{ form_widget(form.duration) }}
                {{ form_label(form.description) }} {{ form_widget(form.description) }}
            </div>
            <div class='app-event-s2'>
                {{ form_label(form.campus) }} {{ form_widget(form.campus) }}
                {{ form_label(form.location_details.city) }} {{ form_widget(form.location_details.city) }}
                {{ form_label(form.location) }}
                <div id="add-button">{{ form_widget(form.location) }} <a href="{{ path('add_location') }}">New</a></div>
                {{ form_label(form.location_details.street) }} {{ form_widget(form.location_details.street) }}
                {{ form_label(form.city_details.code) }} {{ form_widget(form.city_details.code) }}
                {{ form_label(form.location_details.latitude) }} {{ form_widget(form.location_details.latitude) }}
                {{ form_label(form.location_details.longitude) }} {{ form_widget(form.location_details.longitude) }}
            </div>
            <div class='app-event-s3'>
                {{ form_widget(form.create, {'attr' : { 'class': 'app-event' }, 'label' : 'Register' }) }}

                {{ form_widget(form.publish, { 'attr' : { 'class': 'app-event' } }) }}

                <a href="{{ path ('home') }}">
                    <button class="app-event-bt" type="button">Back</button>
                </a>
            </div>
            {% do form.location_details.name.setRendered() %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
