{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block content %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <div class="app-user-profile">
        <h3>Create New Event</h3>
    </div>
    <div class="wrapper">
        <div class="app-event">
            {{ form_start(form, { 'attr' : { 'class': 'app-event' } }) }}
            <div class='app-event-s1'>
                {{ form_label(form.name) }} {{ form_widget(form.name) }}
                {{ form_label(form.date) }} {{ form_widget(form.date) }}
                {{ form_label(form.limitDate) }} {{ form_widget(form.limitDate) }}
                {{ form_label(form.spots) }} {{ form_widget(form.spots) }}
                {{ form_label(form.duration) }} {{ form_widget(form.duration) }}
                {{ form_label(form.description) }} {{ form_widget(form.description) }}
            </div>
            <div class='app-event-s2'>
                <div><label for="selectCampus">Campus:</label></div>
                <div><select id="selectCampus">
                        <option value="{{ userCampus }}">{{ userCampus }}</option>
                        {% for campus in campus %}
                            {% if campus.name != userCampus %}
                                <option value="{{ campus.name }}">{{ campus.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></div>
                <div><label for="selectCity">City:</label></div>
                <div><select id="selectCity" onchange="updateCity()">
                        <option value=""></option>
                        {% for city in city %}
                            <option value="{{ city.name }}">{{ city.name }}</option>
                        {% endfor %}
                    </select></div>
                {{ form_label(form.location) }}
                <div id="add-button">{{ form_widget(form.location) }} <a href="{{ path('add_location') }}">New</a></div>
                <div><label for="updateStreet">Street:</label></div>
                <div><input id="updateStreet" type="text"/></div>
                <div><label for="updateCode">Postal Code:</label></div>
                <div><input id="updateCode" type="text"/></div>
                <div><label for="updateLat">Latitude:</label></div>
                <div><input type="number" id="updateLat"/></div>
                <div><label for="updateLong">Longitude:</label></div>
                <div><input type="number" id="updateLong"/></div>
            </div>
            <div class='app-event-s3'>
                {{ form_widget(form.create) }}
                {{ form_widget(form.publish) }}
                <a href="{{ path ('home') }}">
                    <button class="app-event-bt" type="button">Back</button>
                </a>
            </div>
            {% do form.campus.setRendered() %}
            {{ form_end(form) }}
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('edit_event') }}
    {% endblock %}

{% endblock %}
