<div class="navbar">
    <img id="logo" src="{{ asset('images/logo.png') }}"  alt="Sortir ENI logo"/>
    {% if app.user %}
    <div class="navMenu">
        {% if  is_granted('ROLE_ADMIN') %}
        <a class="nav" href="{{ path('admin_city') }}">Edit City</a>
        <a class="nav" href="{{ path('admin_campus') }}">Edit Campus</a>
        <a class="nav" href="{{ path('user_admin') }}">User Administration</a>
        {% endif %}
        <a class="nav" href="{{ path('home') }}">Home</a>
        <a class="nav" href="{{ path('modify_user') }}">Modify Profile</a>
        <a class="nav" href="{{ path('app_logout') }}">Logout</a>
    </div>
    {% endif %}
</div>