{% extends 'base.html.twig' %}

{% block content %}
    <div class="app-welcome-info">
        <div>
            <p> User: {{ app.user.name }} {{ app.user.lastName }}</p>
            <p>Current date: {{ "now"|date("m/d/Y") }} </p>
        </div>
    </div>
    <h3>Filter your search :</h3>
    <div class="app-search">
        <div class="app-search-1">
            <div>
                <label for="searchCampus">Select campus:</label>
                <select id="searchCampus" onchange="filterCampus()">
                    <option value=""></option>
                    {% for campus in campusList %}
                        <option value="{{ campus.name }}">{{ campus.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="app-input">Search by event name:</label>
                <input type="text" id="app-input" onkeyup="nameSearchFunction()" placeholder="Search by event name...">
            </div>
            <div>
                <label for="searchFrom">From:</label> <input id="searchFrom" class="searchInput" type="date" placeholder="From" onchange="dateFilter()"/>
                <label for="searchTo">To:</label> <input id="searchTo" class="searchInput" type="date" placeholder="To" onchange="dateFilter()">
            </div>
        </div>
        <div class="app-search-2">
            <input id="_type_1" name="_type_1" class="check" type="checkbox" data-this-user="{{ app.user }}" onchange="filterUser(event)">
            <label for="_type_1">My events</label> <br>
            <input id="_type_2" name="_type_2" class="check" type="checkbox" onchange="filterSubscribed()">
            <label for="_type_2">Events I am currently subscribed to</label> <br>
            <input id="_type_3" name="_type_3" class="check" type="checkbox" onchange="filterNotSubscribed()">
            <label for="_type_3">Events I am not subscribed to</label> <br>
            <input id="_type_4" name="_type_4" class="check" type="checkbox" onchange="filterPassed()">
            <label for="_type_4">Past events</label>
        </div>
        <div class="app-search-3">
            <button id="app-search-bt">SEARCH BUTTON</button>
        </div>
    </div>


    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <div>
        <table id="app-main-table" class="app-main">
            <tr>
                <th>Event</th>
                <th>Event Date&Time</th>
                <th>Closing Date</th>
                <th>Registrations</th>
                <th>Status</th>
                <th>Subscription Status</th>
                <th>Organizer</th>
                <th>Actions</th>
            </tr>
                {{ include('templates/_table.html.twig') }}
        </table>
    </div>

    <div>
        <a href="{{ path('event') }}">
            <button>Create Event</button>
        </a>
    </div>

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('main_search') }}
    {% endblock %}

{% endblock %}



