{% extends 'base.html.twig' %}

{% block content %}
    <div class="app-welcome-info">
        <div>
            <p> User: {{ app.user.name }} {{ app.user.lastName }}</p>
            <p>Current date: {{ "now"|date("m/d/Y") }} </p>
        </div>
    </div>
    <h3>Filter your search :</h3>
    <div class="app-search">
        <div class="app-search-1">
            <div>
                <label for="app-campus">Select campus:</label>
                <select id="app-campus">
                    {% for campus in campusList %}
                        <option value="{{ campus.name }}">{{ campus.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="app-input">Search by event name:</label>
                <input type="text" id="app-input" placeholder="Event name contains...">
            </div>
            <div>
                <label for="app-date-from">From:</label> <input id="app-date-from" class="searchInput" type="date"/>
                <label for="app-date-to">To:</label> <input id="app-date-to" class="searchInput" type="date"/>
            </div>
        </div>
        <div class="app-search-2">
            <input id="_type_1" name="_type_1" class="check app-user-filter" type="checkbox"
                   data-this-user="{{ app.user }}"/>
            <label for="_type_1">My events</label> <br>
            <input id="_type_2" name="_type_2" class="check app-user-sub" type="checkbox"/>
            <label for="_type_2">Events I am currently subscribed to</label> <br>
            <input id="_type_3" name="_type_3" class="check app-user-nonsub" type="checkbox"/>
            <label for="_type_3">Events I am not subscribed to</label> <br>
            <input id="_type_4" name="_type_4" class="check app-past" type="checkbox"/>
            <label for="_type_4">Past events</label>
        </div>
        <div class="app-search-3">
            <button id="app-search-bt">SEARCH</button>
        </div>
    </div>


    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <div>
        <table id="app-main-table" class="app-main">
            <tr id="app-main-table">
                <th>Event</th>
                <th>Event Date&Time</th>
                <th>Closing Date</th>
                <th>Registrations</th>
                <th>Status</th>
                <th>Subscription Status</th>
                <th>Organizer</th>
                <th>Actions</th>
            </tr>
            {{ include('templates/_main_table.html.twig') }}
        </table>
    </div>

    <div>
        <a href="{{ path('event') }}">
            <button>Create Event</button>
        </a>
    </div>

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('app_main_search') }}
    {% endblock %}

{% endblock %}



