{% extends 'base.html.twig' %}

{% block title %}Edit City{% endblock %}

{% block content %}
    <h3>Edit City</h3>
    <table class="app-main" id="app-city-table">
        <tr>
            <th>City</th>
            <th>Postal code</th>
            <th>Actions</th>
        </tr>
        {% for city in cityList %}
            <tr>
                <td>{{ city.name }}</td>
                <td>{{ city.code }}</td>
                <td><a href="">Edit</a>
                    <span class="app-nav" id="app-city-remove" data-city-name="{{ city.name }}">Remove</span></td>
            </tr>
        {% endfor %}
        <tr>
            <td><label for="app-city-name"><input id="app-city-name" type="text"/></label></td>
            <td><label for="app-city-code"><input id="app-city-code" type="text"/></label></td>
            <td>
                <button id="app-city-add">Add</button>
            </td>
        </tr>
    </table>
    <a href="{{ path('home') }}">
        <button>Back</button>
    </a>

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('app_admin_city') }}
    {% endblock %}

{% endblock %}
