{% extends 'base.html.twig' %}

{% block title %}Edit Campus{% endblock %}

{% block content %}
    <h3>Edit Campus</h3>
    <table class="app-main" id="app-campus-table">
        <tr>
            <th>Campus</th>
            <th>Actions</th>
        </tr>
        {% for campus in campusList %}
            <tr>
                <td>{{ campus.name }}</td>
                <td><a href="">Edit</a>
                    <span class="app-nav" id="app-campus-remove" data-campus-name="{{ campus.name }}">Remove</span></td>
            </tr>
        {% endfor %}
        <tr>
            <td><label for="app-campus-name"><input id="app-campus-name" type="text"/></label></td>
            <td><button id="app-campus-add">Add</button></td>
        </tr>
    </table>
    <a href="{{ path('home') }}"><button>Back</button></a>

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('app_admin_campus') }}
    {% endblock %}

{% endblock %}
