{% extends 'base.html.twig' %}

{% block title %}Edit City{% endblock %}

{% block content %}
    <p>Edit City</p>
    <table class="app-main" id="app-city-table">
        <tr>
            <th>City</th>
            <th>Postal code</th>
            <th>Actions</th>
        </tr>
        {% for city in cityList %}
            <tr>
                <td>{{ city.name }}</td>
                <td>{{ city.code }}</td>
                <td><a href="">Edit</a>
                    <a onclick="removeCity()">Remove</a></td>
            </tr>
        {% endfor %}
        <tr id="app-js-new">
            <td><input id="app-js-city-name" type="text"/></td>
            <td><input id="app-js-city-code" type="text"/></td>
            <td>
                <button onclick="addCity()">Add</button>
            </td>
        </tr>
    </table>
    <a href="{{ path('home') }}">
        <button>Back</button>
    </a>

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('edit_event') }}
        {# <script src="{{ asset('build/runtime.js') }}"></script> #}
    {% endblock %}

{% endblock %}
